
/* Шапка сайта */

header{
    display: flex;
    position: sticky;
    z-index: 1000;
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 10vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    width: 80%;
}

.menu__logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu__logotype{
    background-image: url("../Figma/Website layout/UI Elements/logo.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.menu__title{
    font-family: 'TT Norms extrabold';
    font-size: 18pt;
    color: var(--primary-color);
}

.menu__title--color{
    color: var(--secondary-color);
}

.menu__sections{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
}

.menu__sections a{
    color: var(--primary-color);
    font-size: 14;
    font-family: 'TT Norms medium';
    font-weight: 10;
    transition: color 0.5s;
}

.menu__sections a:hover{
    color: var(--secondary-color);
}

.menu__sign_up{
    display: flex;
    height: 40px;
    width: 40px;
    background-image: url("../Figma/Website layout/UI Elements/sign in.svg");
    background-size: cover;
}

.menu__sign_up:hover{
    background-image: url("../Figma/Website layout/UI Elements/sign in pink.png");
}



/* Главный баннер */

.banner_main{
    display: flex;
    background-color: var(--secondary-color);
    height: 600px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.banner_main__title{
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}

.banner_main__title_text{
    color: white;
    font-size: 110px;
    font-family: 'TT Norms extrabold';
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100px;
    word-wrap: break-word
}

.banner_main__slogan{
    color: white;
    font-size: 19px;
    font-family: 'TT Norms regular';
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    letter-spacing: 9px;
    word-wrap: break-word;
    text-align: center;
}

.banner_main__slogan--letter{
    letter-spacing: 0;
}

.banner_main__bubbles{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.banner_main
.bubble{
    position: absolute;
}

.banner_main .b1{top: 80%; left: 70%; transform: scale(1.5) rotate(0deg); animation: bubble1 8s  ease infinite alternate-reverse;}
.banner_main .b2{top: 50%; left: 3%; transform: scale(1) rotate(0deg); animation: bubble2 8s  ease infinite alternate;}
.banner_main .b3{top: 90%; left: 20%; transform: scale(1) rotate(15deg); animation: bubble3 8s  ease infinite alternate-reverse;}
.banner_main .b4{top: 60%; left: 90%; transform: scale(0.7) rotate(60deg); animation: bubble4 8s  ease infinite alternate;}
.banner_main .b5{top: -5%; left: 50%; transform: scale(1) rotate(180deg); animation: bubble5 8s  ease infinite alternate;}
.banner_main .b6{top: 1%; left: 95%; transform: scale(1.5) rotate(60deg); animation: bubble6 8s  ease infinite alternate;}
.banner_main .b7{top: -10%; left: -3%; transform: scale(1.5) rotate(180deg); animation: bubble7 8s  ease infinite alternate;}

@keyframes bubble1 {
    0% {}
    100% {top: 75%; left: 75%; transform: scale(1.5) rotate(10deg);}
}
@keyframes bubble2 {
    0% {}
    100% {top: 55%; left: 5%; transform: scale(1) rotate(-10deg);}
}
@keyframes bubble3 {
    0% {}
    100% {top: 85%; left: 15%; transform: scale(1) rotate(30deg);}
}
@keyframes bubble4 {
    0% {}
    100% {top: 55%; left: 85%; transform: scale(0.7) rotate(70deg);}
}
@keyframes bubble5 {
    0% {}
    100% {top: 0%; left: 45%; transform: scale(1) rotate(170deg);}
}
@keyframes bubble6 {
    0% {}
    100% {top: 5%; left: 90%; transform: scale(1.5) rotate(70deg);}
}
@keyframes bubble7 {
    0% {}
    100% {top: -5%; left: 0%; transform: scale(1.5) rotate(170deg);}
}


/* О клинике */

.section_about{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 50px;
}

.section_about__image{
    display: flex;
    margin-left: auto;
    height: 100%;
    width: 50%;

    background-image: url("../Figma/Website layout/media/first_cat.jpg");
    background-size: cover;
    background-position: 100%;
    border-radius: 50px;
}

.section_about__info{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.section_about__slogan{
    display: flex;
    flex-direction: column;
}

.section_about__title{
    font-family: 'TT Norms extrabold';
    font-weight: 900;
    font-size: 70px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.section_about__text{
    font-size: 30px;
    font-family: 'TT Norms medium';
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    color: var(--primary-color);
}

.section_about__facts{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: start;
    align-items: center;
}

.section_about__fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    gap: 10px;
}


/* Баннер специалисты */

.banner_specialists{
    display: flex;
    background-color: var(--peach-color);
    height: 600px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner_specialists__title{
    display: flex;
    width: 35%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'TT Norms extrabold';
    line-height: 50px;
    word-wrap: break-word;
    z-index: 3;
}

.banner_specialists img{
    position: absolute;
    transform: scale(0.5);
    left: -10%;
    z-index: 2;
}

.banner_main__bubbles{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.banner_specialists
.bubble{
    position: absolute;
}

.banner_specialists .b1{top: 80%; left: 70%; transform: scale(1.5) rotate(0deg); animation: bubble1 8s  ease infinite alternate-reverse;}
.banner_specialists .b2{z-index: 1; top: 50%; left: 3%; transform: scale(1) rotate(0deg); animation: bubble2 8s  ease infinite alternate;}
.banner_specialists .b3{top: 90%; left: 25%; transform: scale(1) rotate(15deg); animation: bubble3 8s  ease infinite alternate-reverse;}
.banner_specialists .b4{top: 60%; left: 90%; transform: scale(0.7) rotate(60deg); animation: bubble4 8s  ease infinite alternate;}
.banner_specialists .b5{top: -5%; left: 50%; transform: scale(1) rotate(180deg); animation: bubble5 8s  ease infinite alternate;}
.banner_specialists .b6{top: 1%; left: 95%; transform: scale(1.5) rotate(60deg); animation: bubble6 8s  ease infinite alternate;}
.banner_specialists .b7{top: -10%; left: -3%; transform: scale(1.5) rotate(180deg); animation: bubble7 8s  ease infinite alternate;}

@keyframes bubble1 {
    0% {}
    100% {top: 75%; left: 75%; transform: scale(1.5) rotate(10deg);}
}
@keyframes bubble2 {
    0% {}
    100% {top: 55%; left: 7%; transform: scale(1) rotate(-10deg);}
}
@keyframes bubble3 {
    0% {}
    100% {top: 85%; left: 20%; transform: scale(1) rotate(30deg);}
}
@keyframes bubble4 {
    0% {}
    100% {top: 55%; left: 85%; transform: scale(0.7) rotate(70deg);}
}
@keyframes bubble5 {
    0% {}
    100% {top: 0%; left: 45%; transform: scale(1) rotate(170deg);}
}
@keyframes bubble6 {
    0% {}
    100% {top: 5%; left: 90%; transform: scale(1.5) rotate(70deg);}
}
@keyframes bubble7 {
    0% {}
    100% {top: -5%; left: 0%; transform: scale(1.5) rotate(170deg);}
}