

@font-face {
    font-family: "TT Norms regular";
    src: url(../fonts/TTNorms-Regular.ttf);
}


@font-face {
    font-family: "TT Norms medium";
    src: url(../fonts/TTNorms-Medium.otf);
}

@font-face {
    font-family: "TT Norms bold";
    src: url(../fonts/TTNorms-Bold.ttf);
}

@font-face {
    font-family: "TT Norms extrabold";
    src: url(../fonts/TTNorms-ExtraBold.ttf);
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'TT Norms regular';
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #333333;
    --secondary-color: #EF6D7C;
    --peach-color: #EF8B6D;
    --lavender-color: #BB8FE8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    display: block;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 7px;
    padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

a{
    text-decoration: none;
}

footer a:visited{
    color: white;
}

p{
    padding: 0;
    margin: 0;
    cursor: default;
}